{% extends 'baseheader.html' %}

{% block 'main' %}
<section class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
        <h2 class="text-center mt-5">Set a New Password</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="post" class="shadow p-4 bg-white rounded">
            {% csrf_token %}
            <div class="mb-3">
                <label for="password">New Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>
    </div>
</section>

{% endblock %}
